* {
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-columns: 200px auto;
  height: 100vh;
}

body {
  margin: 0;
}

.app-content {
  padding-top: 35px;
  height: 100%;
  background: #aaaaaa;
}

.app-title-bar {
  position: absolute;
  top: 0;
  width: 80%;
  height: 35px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  z-index: 1010;
  background-color: #222222;
  color: white;
}
